*{
  margin:0;
  padding:5px
  box-sizing:border-box;
}

body{
  height:100%;
  width:100%;
  text-align:center;

}


h1 {
  font-size: 84px;
  color: #0e4f59;
  font-style: helvetica;
  border: 5px solid #6a767a;
  border-radius: 10px;
  border-width: 10px;
  border-height:20px;
  background-image: url("https://s3.amazonaws.com/cinna/cinnalayingdown.jpg");
  background-size:cover;
  height:600%;
  width:400%;
  }

h2{
  font-size: 70px;
  color: #0e4f59;
  font-style: "Avant garde";
  }

.monologue{
  font-size: 18px;
  color: #e26c04;
  font-style:  helvetica;
  }

  li{
    display:block;
    font-size: 25px;
    font-style: helvetica;
    padding:5px
    margin:10px;
    background-image:
    -webkit-linear-gradient(#666CCC, #BC1324);
    background-size:cover
    position:left
  }
  p {
    overflow: scroll;
    justify-content:center;
    background-image: url("https://s3.amazonaws.com/cinna/cinnalayingdown.jpg");
  }
<! makes the button go up and down!>
  .contact-btn a:active {
  top:2px;
}
