*{
  margin:0;
  padding:5px
  box-sizing:border-box;
}

body{
  height:100%;
  width:100%;
  text-align:center;

}


.title {
  font-size: 84px;
  color: #0e4f59;
  font-style: helvetica;
  border: 5px solid #6a767a;
  border-radius: 10px;
  border-width: 10px;
  border-height:20px;
  height:90px;
  width:180px;
  }

h2{
  font-size: 70px;
  color: #0e4f59;
  font-style: "Avant garde";
  }

.monologue{
  font-size: 18px;
  color: #e26c04;
  font-style:  helvetica;
  }

  .row{
    display:inline-block;
    font-size: 25px;
    font-style: helvetica;
    padding:5px
    margin:10px;
    background-image:
    -webkit-linear-gradient(#666CCC, #BC1324);
    background-size:cover
    position:left
  }
  .jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    color: #ffffff;
    height: 700px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    background-image: url("https://s3.amazonaws.com/cinna/cinnalayingdown.jpg");
  }
<! makes the button go up and down!>
  .contact-btn a:active {
  top:2px;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
