*{
  margin:0;
  padding:5px
  box-sizing:border-box;
}


h1 {
  font-size: 84px;
  color: #0e4f59;
  font-style: helvetica;
  border: 5px solid #6a767a;
  border-radius: 10px;
  border-width: 10px;
  border-height:20px;
  background-image: url("https://s3.amazonaws.com/cinna/cinnalayingdown.jpg");
  background-size:cover;
  height:300%;
  width:400%;
  }

.monologue{
  font-size: 18px;
  color: #e26c04;
  font-style:  helvetica;
  }

  li{
    display:inline-block;
    font-size: 25px;
    font-style: helvetica;
    padding:5px
    margin:10px;
    background-image:
    -webkit-linear-gradient(#666CCC, #BC1324);
    background-size:cover
  }
  p {
    height: 50%;
    width:75%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 20px;
    overflow: scroll;
  }
